@{
    ViewData["Title"] = "Test Page";
}

<div id="app">
  {{ message }}
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
}