@{
    ViewData["Title"] = "Products Listing";
}

<div id="app">
    <div v-for="product in products">
        <span>{{product.name}}</span>
    </div>
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                products: [],
            },
            mounted() {
                console.log("Hey mountie")
                var self = this
                axios
                    .get('/api/products')
                    .then(response => 
                            (
                                self.products = response.data
                            )
                    )
            }
        })
    </script>
}